$bg-color: #fa6555;


$circle-blue: #3232ff;
$circle-red: #ff3333;
$circle-yellow: #ffff36;
$circle-green: #389c38;

/* Colori tipo */
$red: #f99990;
$text-red: #d15d51;

$green: #61e3c5;
$text-green: #23a788;

$blue: #81c0f8;
$text-blue: #4a8dc9;