$bg-color: #fa6555;

$red: #f56051;
$text-red: #d15d51;

$green: #2cdab1;
$text-green: #23a788;

$blue: #58abf6;
$text-blue: #4a8dc9;

$circle-blue: #3232ff;
$circle-red: #ff3333;
$circle-yellow: #ffff36;
$circle-green: #389c38;